---
apiVersion: ceph.rook.io/v1
kind: CephCluster
metadata:
  name: rook-ceph
  namespace: rook-ceph
spec:
  cephVersion:
    image: quay.io/ceph/ceph:v20.2.0q
  dataDirHostPath: /var/lib/rook
  mon:
    count: 1
    allowMultiplePerNode: true
  mgr:
    allowMultiplePerNode: true
    modules:
      - name: pg_autoscaler
        enabled: true
  monitoring:
    enabled: true
  storage:
    useAllNodes: false
    useAllDevices: false
    config:
      osdsPerDevice: "1"
    nodes:
      - name: "bigboi"
        devices:
          # - name: "fioa"
          #   config:
          #     osdsPerDevice: "2"
          #     deviceClass: "nvme"
          - name: "nvme1n1"
            config:
              osdsPerDevice: "2"
          - name: "sda"
          - name: "sdb"
          - name: "sdc"

  resources:
    api:
      requests:
          cpu: 50m
          memory: 250Mi
      limits:
        memory: 2048Mi
    mgr:
      requests:
        cpu: 250m
        memory: 500Mi
      limits:
        cpu: 500m
        memory: 4096Mi
    mon:
      requests:
        cpu: 500m
        memory: 2048Mi
      limits:
        memory: 4096Mi
    osd:
      requests:
        cpu: 200m
        memory: 2048Mi
      limits:
        cpu: 1500m
        memory: 8192Mi
    rbdmirror:
      requests:
          cpu: 25m
          memory: 250Mi
      limits:
        memory: 1024Mi