apiVersion: ceph.rook.io/v1
kind: CephObjectStore
metadata:
  name: hdd-object-store
  namespace: rook-ceph
spec:
  metadataPool:
    failureDomain: host
    replicated:
      size: 1
    deviceClass: nvme
  dataPool:
    failureDomain: host
    replicated:
      size: 2
    deviceClass: hdd