apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph
  namespace: rook-ceph
spec:
  interval: 5m
  chart:
    spec:
      chart: rook-ceph
      version: v1.19.0
      interval: 5m
      sourceRef:
        kind: HelmRepository
        name: rook-charts
        namespace: flux-system