---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metrics-server
  namespace: kube-system
spec:
  interval: 30m
  chart:
    spec:
      chart: metrics-server
      version: "3.x.x"
      sourceRef:
        kind: HelmRepository
        name: metrics-server-charts
        namespace: flux-system
  # values:
  #   metrics:
  #     enabled: true
  #   serviceMonitor:
  #     enabled: true