apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: garage-meta
  namespace: garage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 4Ti
  storageClassName: nvme-unsafe