apiVersion: v1
kind: PersistentVolume
metadata:
  name: garage-data
spec:
  capacity:
    storage: 4Ti
  accessModes:
    - ReadWriteOnce
  storageClassName: hdd-replica
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: garage-data
  namespace: garage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 4Ti
  storageClassName: hdd-replica