clusterName: cluster
talosVersion: v1.12.2
kubernetesVersion: v1.35.0
endpoint: https://10.100.10.5:6443
domain: cluster.local
allowSchedulingOnMasters: true
additionalMachineCertSans:
  - 10.100.10.5
additionalApiServerCertSans:
  - cluster.local
clusterPodNets:
  - 10.244.0.0/16
clusterSvcNets:
  - 10.16.0.0/12
nodes:
  - hostname: bigboi
    ipAddress: 10.100.10.5
    #installDisk: /dev/nvme0n1
    installDiskSelector:
      model: "Samsung SSD 860"
    controlPlane: true
    schematic:
      customization:
        extraKernelArgs:
          - amd_iommu=on
          - iommu=pt
        systemExtensions:
          officialExtensions:
            - siderolabs/amd-ucode
    # disableSearchDomain: true
    # nameservers:
    #   - 1.1.1.1
    # extraKernelArgs:
    #   - amd_iommu=on
    #   - iommu=pt
    # patches:
    #   - |-
    #     machine:
    #       install:
    #         extensions:
    #           - image: ghcr.io/siderolabs/amd-ucode:20241110
    #           - image: ghcr.io/sleepingshell/siderolabs/fusionio:extension-1
